@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    background-color: rgb(250, 250, 218);
}

h1,
p {
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: 0% 0%;
    color: rgb(155, 15, 15);
}

#root {
    p {
        font-weight: 100;
    }
    h1 {
        font-weight: 500;
    }
    &.clicked {
        h1 {
            animation: right 4s infinite reverse;
        }
        p {
            animation: right 4s infinite;
        }
        @keyframes right {
            0% {
                transform: rotate(0) translate(-50%, -50%);
            }
            100% {
                transform: rotate(360deg) translate(-50%, -50%);
            }
        }
    }
}